@media(max-width:960px)
{
    body{
        margin: 0;
    }

    .header{
        max-width: 350px;
        width: 350px;
        margin: 20px auto 20px;
        display: grid;
        grid-template-columns: auto auto;
    }
      
    .header nav.open {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        width: 75vw;
        height: 100%;
        background-color: white;
        padding: 1.25rem;
        opacity: 1;
        z-index: 99999;
      }
      
    .header nav ul {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .header nav ul li{
        font-size: 2rem;
    }

    .header .logo img{
        width: 50px;
    }

    .menu{
        display: flex;
        flex-direction: column;
        column-gap: 40px;
        align-items: flex-end;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        z-index: -999;
    }

    .header #menu-button{
        display: block;
        cursor: pointer;
        z-index: 99;
    }

    .header nav #menu-close {
        display: block;
        background: transparent;
        border: none;
        outline: none;
        position: absolute;
        right: 1.25rem;
        top: 1.25rem;
        z-index: 999999999999;
        cursor: pointer;
      }

    .header .menu-button button {
        background: transparent;
        outline: none;
        border: none;
        cursor: pointer;
      }

    .container{
        display: grid;
        grid-auto-flow: row;
        row-gap: 25px;
        width: 350px;
    }

    .container-content{
        display: grid;
        grid-auto-flow: row;
    }

    .container-content .web3-text-content{
        display: flex;
        flex-direction: column;
        row-gap: 25px;
    }

    .web3-title-div{
        width: 80%;
    }

    .web3-title-div h1{
        font-size: 40px;
        max-width: 100%;
    }
    
    .web3-text-content .web3-paragraph{
        display: grid;
        grid-auto-flow: row;
        width: 100%;
    }
    
    .web3-paragraph p{
        max-width: 100%;
    }

    .container .news-links{
        width: 350px;
        margin-top: 2rem;
    }

    .topics-container{
        grid-auto-flow: row;
        row-gap: 25px;
        margin: 40px auto;
        width: 100%;
        max-width: 350px;
    }
}
